<tr>
  <td
    style="padding: 40px; text-align: center; width: 100%; padding: 1px"
    class="padding"
  >
    <table
      cellspacing="0"
      cellpadding="0"
      style="
        margin: auto;
        width: 100%;
        padding: 10px 0px 10px 0px;
        text-align: start;
        border-radius: 10px;
        color: #000;
      "
    >
      <tr>
        <td style="border-bottom: 1px dashed #99999e; height: 6px"></td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td style="font-size: 11px; font-weight: 450; color: #909096" class="padding">
    <span style="line-height: 20px">
      You are recieving this message because you signed up on Boundless pay. For
      more information about how we process data , please see our privacy policy
    </span>
    <br />
    <br />
    Copyright&copy;Boundlesspay.2024 All right reserved.
  </td>
</tr>
