<br />
<span
  style="
    font-weight: 800;
    font-size: 17px;
    font-family: 'Graphik Medium', sans-serif;
  "
  >Your approval code</span
>
<br />
<div style="margin: 10px 0"></div>
<span style="font-size: 13px; font-family: 'Graphik Regular', sans-serif">
  Use this code to verify your account:
</span>

<br />
<div style="margin: 8px 0"></div>
<table cellspacing="0" cellpadding="0" style="width: 100%">
  <tr>
    <td
      style="
        color: #3849e3;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Graphik Medium', sans-serif;
        height: 6px;
        width: 100%;
        padding: 4px 0px 4px 0px;
      "
    >
      392312
    </td>
  </tr>
</table>
<!-- <div style="margin: 8px 0;" ></div> -->
<span style="font-size: 12.2px; font-family: 'Graphik Regular', sans-serif">
  This one line code expires in 75 minutes. Do not share this code with anyone .
</span>
<br />
<div style="margin: 13px 0px 0px 0px"></div>
<span
  style="
    font-size: 12px;
    line-height: 20px;
    font-family: 'Graphik Regular', sans-serif;
  "
>
  Contact our support channel at
  <span style="color: #3849e3; cursor: pointer; text-decoration: underline"
    >support@boundlesspay.com</span
  >
  or call our customer careline at +234 584 213 1209 , +234 584 213 1209 for
  help
</span>
